.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.footer__copyright {
	color: black;
    text-align: left;
	text-transform: uppercase;
	font-size: .8rem;
    font-weight: 700;
}

.social__icon {
    display: none;
}

@media(max-width: 1280px) {
	.footer__copyright {
		text-align: center;
		margin-top: 1rem;
	}
}