.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 1rem;
}

.logo {
    max-height: 20vh;
}