/*HEADER*/
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding: 1rem;
}

.logo {
    max-height: 30vh;
}

/*FOOTER*/
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.footer__copyright {
	color: #999B84;
    text-align: center;
	text-transform: uppercase;
	font-size: .8rem;
    font-weight: 700;
    margin: 1rem 0rem;
}

.social__icon {
    display: none;
}

/*BODY*/
.main {
    display: flex;
    justify-content: center;
}

.center__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 80vw;
}

.button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: .75rem 0;
    padding: 1rem 4rem;
    border: 2px solid #999B84;
    border-radius: 1.5rem;
    background-color: #F4EEED;
    color: #999B84;
    cursor: pointer;
    width: 80%;
}

.text_title {
    text-align: center;
    font-size: 1.5rem;
    width: auto;
}

.text {
    text-align: center;
    color: #999B84;
    display: none;
    font-size: 1rem;
    transition: .75s;
    width: auto;
}

.img_section {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: .75s;
}

.img_01 {
    width: 50%;
}

@media(max-width: 1280px) {
    .center__menu {
        width: 100%;
    }

    .button {
        width: 80%;
        padding: 1rem 1rem;
    }

    .text_title {
        font-size: 1.7rem;
    }
    
    .text {
        font-size: 1.3rem;
    }
}

@media(min-width: 1280px) {
    .button:hover {
        padding: 1rem 5rem;
        background-color: #999B84;
        color: #F4EEED;
        transition: .75s;
    }
    
    .button:hover .text {
        color: #F4EEED;
        display: none;
        transition: .75s;
    }
}