@import url(_normalize.css);

@import url(_reset.css);

@import url(_main.css);

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

.body {
    background-color: #00A7A8;
    background-image: linear-gradient(90deg, #00A7A8 0%, #02d4d4 20%, #02d4d4 80%, #00A7A8 100%);
    background-size: cover;
    font-family: Roboto, sans-serif;
}

/* Cores Principais:
#00A7A8
#02d4d4
#4b6464
#DDB7AB
*/